snippet jc
	<% coderay :lang => 'javascript', :name => '${1}' do %>
	${2}
	<% end %>

snippet left
	{% left %}
		${1}
	{% end %}

snippet right
	{% right %}
		${1}
	{% end %}

snippet dj
	{% ${1} %}
		${2}
	{% end %}
